<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-weight: bold" href="#">Gastronomia</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/usuario">Cadastro
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="cadastrarIngrediente.jsp">Cadastro de Ingredientes</a></li>
                    <li><a href="cadastrarGrupos.jsp">Cadastro de Grupos</a></li>
                    <li><a href="cadastrarAtributos.jsp">Cadastro de Atributos</a></li>
                    <li><a href="cadastrarUsuario.jsp">Cadastro de Usuários</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
