<nav class="navbar navbar-default">
    <div class="container-fluid">
    
    <div class="row menu">
    <div class="col-xl-5 dropdown menu1">
            <button class="dropbtn">Cadastro</button>
            <div class="dropdown-content">
            <a alt="Ingredientes" [routerLink]="['/cadastroIngrediente']">Ingredientes</a>
            <a alt="Grupos" [routerLink]="['/grupo']">Grupos</a>
            <a alt="Atributos" [routerLink]="['/atributo']">Atributos</a>
            <a alt="Usuários" [routerLink]="['/usuario']">Usuários</a>
            <a alt="Ficha Técnica de Produto" [routerLink]="['/ftp-cadastro']">Ficha Técnica de Produto </a>
            </div>
    </div>

    <div class="col-xl-5 dropdown menu2">
            <button class="dropbtn">Consulta</button>
            <div class="dropdown-content">
            <a alt="Consulta de Ingredientes" [routerLink]="['/ingrediente-listagem']">Ingredientes</a>
            <a alt="Consulta de Grupos" [routerLink]="['/grupo-listagem']">Grupos</a>
            <a alt="Consulta de Atributos" [routerLink]="['/atributo-listagem']">Atributos</a> <!-- ainda não foi feito -->
            <a alt="Consulta de Usuários" [routerLink]="['/usuario-listagem']">Usuários</a>
            </div>
    </div>
    </div>
        <a class="col-md-2 exitImg" alt="Consulta de Usuários" [routerLink]="['']"><img src="/assets/blank_user.png"/></a> 
</div>
</nav>
