<div class="form-group row justify-content-start">
  <div class="col-md-4 col-lg-3">
    <label class="campo-obrigatorio">Grupo Alimentar:</label>
  </div>
  <div class="col-md-7 col-lg-6 col-xl-5">
    <select [(ngModel)]="grupoReceita" class="form-control" (change)="salvar()">
      <option [ngValue]="null" disabled selected hidden>Selecione o Grupo Alimentar</option>
      <option *ngFor="let item of gruposDisponiveis" [ngValue]="item">
        {{item.nome}}
      </option>
    </select>
  </div>
</div>
