<div class="container">
		<br>
		<fieldset>
			<form [formGroup]="ftpForm" class="content" (ngSubmit)="cadastrar(ftpForm.value)" id="formulario" novalidate>
				<div>
					<h2>Ficha Técnica de Produto</h2>
					<div class="form-group row justify-content-start">
						<div class="col-md-4 col-lg-3">
							<label class="campo-obrigatorio">Produto:</label>
						</div>
						<div class="col-md-7 col-lg-6 col-xl-5">
							<input formControlName="nome" type="text" class="form-control" placeholder="Nome do Produto">
							<app-mensagem-erro [contemErro]="!this.ftpForm.controls['nome'].valid && this.ftpForm.controls['nome'].dirty"></app-mensagem-erro>
						</div>
					</div>
					<div class="form-group row justify-content-start">
						<div class="col-md-4 col-lg-3">
							<label class="campo-obrigatorio">Grupo Alimentar:</label>
						</div>
						<div class="col-md-7 col-lg-6 col-xl-5">
								<select formControlName="grupoReceita" class="form-control">
										<option value="null" disabled selected hidden>Selecione o Grupo Alimentar</option>
										<option *ngFor="let item of gruposDisponiveis" value= {{item.id}}>
											{{item.nome}}
										</option>
								</select>
								<app-mensagem-erro [contemErro]="!this.ftpForm.controls['grupoReceita'].valid && this.ftpForm.controls['grupoReceita'].dirty"></app-mensagem-erro>
							</div>
						</div>
						<div class="form-group row justify-content-start">
							<div class="col-md-4 col-lg-3">
								<label class="campo-obrigatorio">Professor:</label>
							</div>
							<div class="col-md-7 col-lg-6 col-xl-5">
								<select formControlName="professor" class="form-control">
										<option value="null" disabled selected hidden>Selecione o Professor</option>
										<option *ngFor="let item of professoresDisponiveis" value= {{item.id}}>
											{{item.nome}}
										</option>
								</select>
								<app-mensagem-erro [contemErro]="!this.ftpForm.controls['professor'].valid && this.ftpForm.controls['professor'].dirty"></app-mensagem-erro>
						</div>
					</div>
	
					<div class="form-group row justify-content-start">
						<div class="col-md-4 col-lg-3">
							<label class="campo-obrigatorio">Integrantes:</label>
						</div>
						<div class="col-md-7 col-lg-6 col-xl-5">
							<div>
								<div class="row no-gutters">
									<div class="col">
										<select formControlName="criadores" class="form-control">
												<option value="null" disabled selected hidden>Selecione um Integrante</option>
												<option *ngFor="let item of alunosDisponiveis" value= {{item.id}}>
													{{item.nome}}
												</option>
										</select>
									</div>
									<div class="col-auto">
										<button class="btn btn-success" [disabled]="ftpForm.invalid">+</button>
									</div>
								</div>
								<p class="integrante">Gabriel</p>
								<i class="material-icons delete">delete</i>
								<hr class="divisor-integrantes">
								<p class="integrante">Bianca</p>
								<i class="material-icons delete">delete</i>
								<hr class="divisor-integrantes">
							</div>
						</div>
					</div>
	
					<hr>
					<h3>Adicionar Ingredientes</h3>
					<div class="row">
						<div class="col-md-6">
								<select class="form-control">
										<option value="null" disabled selected hidden>Selecione um Ingrediente</option>
										<option *ngFor="let item of ingredientesDisponiveis" value= {{item.id}}>
											{{item.nome}}
										</option>
								</select>
						</div>
						<div class="col-md-2">
							<h4>Valor por Kg:</h4>
							<p>R$ 0,00</p>
						</div>
						<div class="col-md-2">
							<label>Fator de correção:</label>
							<p>95%</p>
						</div>
						<div class="col-md-2">
							<label>Peso (g)</label>
							<input type="text" class="form-control">
						</div>
						<div class="col-md-2">
							<button class="btn btn-success">Adicionar Ingrediente</button>
						</div>
					</div>
					<div>
						<table>
							<tr>
								<th>Ingrediente</th>
								<th>Custo</th>
								<th>Fator de correção</th>
								<th>Peso</th>
								<th></th>
							</tr>
							<tr>
								<th>Tomates</th>
								<th>R$ 2,00</th>
								<th>95%</th>
								<th>0.3Kg</th>
								<th><i class="material-icons delete">delete</i></th>
							</tr>
							<tr>
								<th>Azeitonas</th>
								<th>R$ 5,00</th>
								<th>94%</th>
								<th>0.25Kg</th>
								<th><i class="material-icons delete">delete</i></th>
							</tr>
						</table>
					</div>
	
					<button class="btn btn-success">Criar Novo Ingrediente</button>
					<br>
	
					<hr>
					<app-ftp-modo-preparo [obrigatorio]="true" (salvarPassos)="alterarPassos($event)"></app-ftp-modo-preparo>
					<div>
						<hr>
						<div class="row">
							<div class="col-md-7">
								<div class="row">
									<div class="col-lg-3">
										<h4>Custo por porção:</h4>
										<p>R$ 24,00</p>
									</div>
									<div class="col-lg-5">
										<h4>Rendimento:</h4>
										<input type="text" class="form-control" placeholder="Uma porção">
									</div>
									<div class="col-lg-4">
										<h4>Peso:</h4>
										<input type="text" class="form-control" placeholder="600g">
									</div>
								</div>
								<div id="tempo-preparo" class="row justify-content-start">
									<div class="col-auto">
										<h4>Tempo de preparo:</h4>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control" placeholder="30 min">
									</div>
								</div>
								<div class="row no-gutters align-items-center">
									<app-ftp-dificuldade [dificuldadeMaxima]="5" [dificuldade]="retornarDificuldade()" (salvarDificuldade)="alterarDificuldade($event)"></app-ftp-dificuldade>
								</div>
							</div>
							<div class="col-md-5">
								<div class="imagem">imagem</div>
								<button class="btn anexar">Anexar imagem</button>
							</div>
						</div>
	
						<br>
	
						<div class="last row">
							<div class="col-md-6 mr-auto">
								<input formControlName="tipo" type="checkbox" id="ftp-privacidade">
								<label id="ficha-privada" for="ftp-privacidade">Tornar minha ficha técnica privada</label>
							</div>
							<div class="col-auto">
								<button class="btn btn-success">Salvar</button>
							</div>
							<div class="col-auto">
								<button type="submit" class="btn btn-success" [disabled]="ftpForm.invalid">Publicar</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</fieldset>
	</div>
	<br>
	