hr {
	border-width: 3px;
	margin-top: 10px;
}

label {
	margin-top: 5px;
}

.divisor-integrantes {
	margin-top: 0px;
}

.integrante {
	margin: 0px;
	margin-top: 3px;
	display: inline-block;
}

.delete {
	display: inline-block;
	float: right;
}

form {
	padding: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
	width: 80%;
}

table {
	width: 100%;
	margin: 10px 0px;
	overflow: auto;
	max-width: 100%;
	white-space: nowrap;
}

th, tr {
	border: 1px solid black;
	padding: 2px;
}

tr:nth-child(odd){
	background:linear-gradient(0deg,rgba(255,255,255,0.4),rgba(255,255,255,0.4));
}

tr:first-child{
	background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	color: lightgray;
}

@media only screen and (max-width: 600px) {
	table {
		display: block;
	}
}

@media only screen and (max-width: 768px) {
	.imagem {
		width: auto;
		margin: 10%;
		height: 100%;
	}

	button {
		margin-top: 5px;
	}
}

@media only screen and (min-width: 768px) {
	.row-preparo {
		display: flex;
	}

	.col-preparo-passo {
		flex: 1;
	}
}

.anexar {
	float: right;
	color: white;
	background-color: gray;
	border: solid gray 1px;
}

.anexar:hover {
	color: gray;
	background-color: white;
	border: solid black 1px;
}

.imagem {
	padding-top: 56.25%;
	background-color: gray;
	margin-bottom: 5px;
	margin-top: 10px;
}

h2 {
	margin-bottom: 5%;
	text-align: center;
	padding: 1px;
	font-size: 30px;
}

h4 {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 5px;
}

#dificuldade {
	margin-right: 3px;
}

i {
	margin-top: 6px;
}

.no-gutters {
	margin-top: 5px;
}

.last.row > *{
	margin: 40px 0px 15px;
}

textarea {
	width: 100%;
	border-radius: 5px;
	border: 0px;
	padding: 5px;
}

.checked {
  color: orange;
}

#tempo-preparo {
	margin-top: 7px;
}

#ficha-privada {
	display: inline;
}
