<div class="container" *ngIf="this.ftp !== undefined">
  <fieldset>	
    <div class="divisor content">
      <h2>Rótulo Nutricional</h2>
      <div *ngIf="permitirInputValorPorcao">
        <label> Porção (g): </label>
        <input [(ngModel)]="gramasPorPorcao" type="number" [value]="gramasPorPorcao" (change)="componentRotuloIngrediente.alterar()">
        <button type="number" (click)="resetarGramasPorPorcao()">Resetar</button>
      </div>
      <br>
      <app-rotulo-ingredientes
        (outputIngredienteValorPorcao)="alterarIngredienteValor($event)"
        [gramasPorPorcao]="gramasPorPorcao"
        [numeroCasasDecimais]="1" 
        [mostrarListaIngredientes]="true">
      </app-rotulo-ingredientes>
      <app-rotulo-ingredientes-atributos
        [mostrarListasIngredientesAtributos]="true"
        [qntdeEmGramas]="100">  
      </app-rotulo-ingredientes-atributos>
    </div>
  </fieldset>
</div>