<script src="js/jspdf.js"></script>
<div class="container" *ngIf="this.ftp !== undefined">
  <fieldset>	
    <div class="divisor content">
      <h2>Rótulo Nutricional</h2>
      <div *ngIf="permitirInputValorPorcao" class="row" id="formGramas">
        <label id="labelGramas"> Porção (g): </label>
        <input [(ngModel)]="gramasPorPorcao" type="number" [value]="gramasPorPorcao" (ngModelChange)="emitirValores()" class="col-md-3 form-control input-md ng-pristine ng-invalid ng-touched" id="inputGramas" min="1">
        <button type="number" class="btn btn-danger" (click)="resetar()">Resetar</button>        
        <button type="number" style="background-color:powderblue"class="btn btn-link" (click)="geraPDF()" >Download PDF</button>
      </div>
      <br>

      <app-rotulo-info-nutricional
        [ftp]="ftp"
        [mostrarInfoNutricional]="true"
        [gramasPorPorcao]="gramasPorPorcao"
        [numeroCasasDecimais]="2"
        [valorEnergeticoPorcao]="valorEnergeticoPorcao">
      </app-rotulo-info-nutricional>

      <button class="btn btn-success" *ngIf="!getMostrarMaisInfo()" (click)="mostrarMaisInfo = true;">Mais Informações</button>
      <button class="btn btn-danger" *ngIf="getMostrarMaisInfo()" (click)="mostrarMaisInfo = false;">Esconder Informações</button>
      <div [hidden]="!getMostrarMaisInfo()">
      <app-rotulo-ingredientes
        (outputIngredienteValorPorcao)="alterarIngredienteValor($event)"
        [ftp]="ftp"
        [gramasPorPorcao]="gramasPorPorcao"
        [numeroCasasDecimais]="2" 
        [mostrarListaIngredientes]="true">
      </app-rotulo-ingredientes>
      
      <app-rotulo-ingredientes-atributos
        (outputNutrientesValorPorcao)="alterarNutrienteValor($event)"
        [ftp]="ftp"
        [todosAtributos]="todosAtributos"
        [mostrarListasIngredientesAtributos]="true"
        [gramasPorPorcao]="gramasPorPorcao"
        [numeroCasasDecimais]="2"
        [ingredienteValorPorcao]="ingredienteValorPorcao"
        [qntdeEmGramas]="100"
        [aplicarMultiplicador]="false">  
      </app-rotulo-ingredientes-atributos>

      <app-rotulo-valor-energetico
        (outputValorEnergetico)="alterarValorEnergetico($event)"
        [ftp]="ftp"
        [nutrientesValorPorcao]="nutrientesValorPorcao"
        [mostrarListaValorEnergetico]="true"
        [gramasPorPorcao]="gramasPorPorcao"
        [numeroCasasDecimais]="2">
      </app-rotulo-valor-energetico>
    </div>
    </div>
  </fieldset>
</div>