<div *ngIf="this.ftp !== undefined && valorEnergeticoPorcao !== undefined">

    <br> 
    <hr>

  <div *ngIf="mostrarInfoNutricional">
    <!-- <h3>Informações Nutricionais</h3> -->
    <table>
      <tr> <!-- Cabeçalho -->
        <th id="esse">
          <h5>INFORMAÇÕES NUTRICIONAIS</h5>
          <h6>Porção de {{gramasPorPorcao.toFixed(numeroCasasDecimais).replace(".", ",")}}g</h6>
        </th>
      </tr>
    </table>
    <table>
      <tr> <!-- Cabeçalho -->
        <th>
          
        </th>
        <th>
          Quantidade por Porção
        </th>
        <th>
          %VD(*)
        </th>
      </tr>
      <ng-container *ngFor="let item of valorEnergeticoPorcao; let i = index">
        <tr>
          <th>
            {{item.atributo.nome}}
          </th>
          <th>
            {{item.valor.toFixed(numeroCasasDecimais).replace(".", ",")}}
          </th>
          <th>
            {{calculoVDPerc(item.valor, item.atributo).toFixed(numeroCasasDecimais).replace(".", ",")}}%
          </th>
        </tr>
      </ng-container>
    </table>
    <table>
        <tr> <!-- Cabeçalho -->
          <th>
            <label>(*)% Valores Diários de referência com base em uma dieta de 2.000 kcal ou 8400 kJ. Seus valores diários podem ser maiores ou menores dependendo de suas necessidades energéticas.</label>
            <label>(**) {{ definirTextoAlergenico() }} </label>
          </th>
        </tr>
      </table>
  </div>
  
  <hr>

</div>