
.campo-obrigatorio:after {
    content:"*";
    color:red;
    }

 /* Form maior */ 
form{
  display: block;
  margin-top: auto;
  width: 50%;
  height: 200%;
}  

/* Confirgurações do Label*/  
.control-label{
  margin-left:17%;
}

/* input */
.form-control{
  width: 320px;
}

/* Limpar e Confirmar */
.but-t{
  margin-left: 42%;
  margin-right: auto;
}

h2{
    padding: 1px;
    padding-bottom:1em;
    text-align:center;
    background-repeat:no-repeat;
    background-position:20% 5%;
    background-size:1.2em;
}

/**** @media inicia aqui ****/
/*IPAD*/
@media only screen and (max-width: 1024px) {
  h2{
   font-size:1.5em;
   margin-left: 27%;
   background-size:1.2em;
 }
 form{
   
   width: 100%;
   margin-left:-2%;
 }

 .input-md{   
   margin-left:2%;
 }
}

/*IPHONE 6 PLUS*/
@media only screen and (max-width: 500px) {
h2{
   font-size:1.5em;
   margin-left: 5%;
   background-size:1.2em;
}

form{
   width: 100%;
   margin-left:-2%;
}

.input-md{   
   margin-left:2%;
}

 .but-t{  /*Limpar e Confirmar*/
   margin-left: 27%;
 }

 .control-label{
  margin-left:0%;
}
}

/*IPHONE 6*/
@media only screen and (max-width: 375px) {

h2{
    font-size:1.3em;
    margin-left: 10%;
    background-size:1.2em;
  } 
}

/*IPHONE 5*/
@media only screen and (max-width: 330px) {

h2{
     font-size:1.2em;
     margin-left: 3%;
     background-size:1.2em;
}  

.input-md{
  width: 100%;
}

.but-t{  /*Limpar e Confirmar*/
  margin-left: 17%;
}

}












 
