
.campo-obrigatorio:after {
    content:"*";
    color:red;
    }

 /* Form maior */ 
form{
  display: block;
  margin-top: auto;
  width: 50%;
  height: 200%;
}  

/* Confirgurações do Label*/  
.control-label{
  margin-left:17%;
}

/* input */
.form-control{
  width: 320px;
}

.form-group{
  margin-left: -10%;
}
  
/* Limpar e Confirmar */
.but-t{
  margin-left: 42%;
  margin-right: auto;
}

h2{
    padding: 1px;
    padding-bottom:1em;
    text-align:center;
    background-repeat:no-repeat;
    background-position:20% 5%;
    background-size:1.2em;
}












 
