<div class="container">
    <div class="row">
        <div class="col-lg-5 text-left">
            <img src="assets/logo.png" class="img-fluid" />
            <br>

            <form class="no-css" [formGroup]="loginForm" (ngSubmit)="logar()">
                <div class="form-group">
                    <label class="label-login" for="exampleInputEmail1">Email</label>
                    <input [formControl]="loginForm.controls['email']" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="label-login" for="exampleInputPassword1">Senha</label>
                    <input [formControl]="loginForm.controls['senha']" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label label-login" for="exampleCheck1">Manter conectado</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            <hr>
            <p class="form_p">Esqueceu a senha?
                <a (click)="redefinir()">Clique aqui!</a>
    <!-- Abrir mensagem/tela para usuário inserir o email que usuará pra redefinir sua senha
        o botão confimar deve chamar o método redefinir() -->
        
            </p>
            <p class="form_p">É aluno e não é cadastrado?
                <a [routerLink]="['/usuario']">Clique aqui!</a>
            </p>
        </div>
        <div id="esqueceusenha">
            <p>Insira o email para redefinir sua senha:</p>
        </div>
    </div>
    <div class="modal fade" id="modal-mensagem">
            <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                         <h4 class="modal-title">Título da mensagem</h4>
                     </div>
                     <div class="modal-body">
                         <p>Conteúdo da mensagem</p>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                     </div>
                 </div>
            </div>
        </div>

      <button class="btn btn-primary" id="btn-mensagem" (click)="ggg()">Exibir modal via JavaScript</button>
</div>
