<div class="container">
    <div class="row">
        <div class="col-lg-5 text-left">
            <img src="assets/logo.png" class="img-fluid" />
            <br>
            <form class="no-css" [formGroup]="loginForm" (ngSubmit)="logar()">
                <div class="form-group">
                    <label class="label-login" for="exampleInputEmail1">Email</label>
                    <input [formControl]="loginForm.controls['email']" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group" *ngIf="!displayEsqueceuSenha">
                    <label class="label-login" for="exampleInputPassword1">Senha</label>
                    <input [formControl]="loginForm.controls['senha']" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <div class="form-check" *ngIf="!displayEsqueceuSenha">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label label-login" for="exampleCheck1">Manter conectado</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" *ngIf="!displayEsqueceuSenha">Entrar</button>
                <button type="button" class="btn btn-primary" *ngIf="displayEsqueceuSenha" (click)="redefinir()">Esqueci minha senha</button>
            </form>
            <hr>


            <p class="form_p" *ngIf="!displayEsqueceuSenha" (click)="displayEsqueceuSenha = !displayEsqueceuSenha">Esqueci minha senha</p>
            <p class="form_p" *ngIf="displayEsqueceuSenha" (click)="displayEsqueceuSenha = !displayEsqueceuSenha">Desejo me logar</p>
            <p class="form_p">É aluno e não é cadastrado?            </p>

            
        </div>
    </div>

</div>