table {
	width: 70%;
	margin:0 auto;
	overflow: auto;
	max-width: 100%;
	white-space: nowrap;
}
th{
	font-size:0.8em;
	white-space: nowrap;
}

h3 {
	text-align: center;
}

h4{
	margin-left: 40%;
	margin-top:1%;
}

th, tr {
	border: 1px solid black;
	padding: 2px;
}

tr:nth-child(odd){
	background:linear-gradient(0deg,rgba(255,255,255,0.4),rgba(255,255,255,0.4));
}

tr:first-child{
	background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	color: lightgray;
}

@media only screen and (max-width: 600px) {
	table {
		display: block;
		width: 100%;
		margin-left: 2%;
	}
}

@media only screen and (max-width: 321px) {
	h4{
		margin-left: 7%!important;
	}
}

@media only screen and (max-width: 768px) {
	h4{
		margin-left: 16%;
	}
}
