div {
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
  background: gray;
}

div.stretchy-wrapper {
  position: relative;
}

div.stretchy-wrapper > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.img {
  max-width: 100%;
}

.anexar {
  float: right;
  color: white;
  background-color: gray;
  border: solid gray 1px;
}

.anexar:hover {
  color: gray;
  background-color: white;
  border: solid black 1px;
}
