<div class="container">
	<fieldset>	
	<form [formGroup]="usuarioForm" class="form-horizontal form-container content" (ngSubmit)="cadastrarUsuario()" id="formulario">
		<h2>Cadastro de Usuário</h2>
		<div class="divisor">
			<span></span>
		</div>
		<div class="camposForm">
		<div class="alert alert-danger" role="alert" style="display: none;">
			<span id="textoErro"><strong>Erro!</strong></span>
		</div>
		<div class="row form-group">
			<label id="teste" class="col-md-3 control-label campo-obrigatorio" ng-show="" for="nome">Nome</label>
			<div class="col-md-4">
				<input formControlName="nome" [formControl]="usuarioForm.controls['nome']" type="text"
				placeholder=""  class="form-control input-md" required>
				<app-mensagem-erro class="erro" [contemErro]="!this.usuarioForm.controls['nome'].valid && this.usuarioForm.controls['nome'].dirty"></app-mensagem-erro>
			</div>
		</div>

		<!-- Prepended text-->
		<div class="row form-group">
			<label class="col-md-3 control-label campo-obrigatorio" for="email">E-mail</label>
			<div class="col-md-4">
				<input id="email" nome="email" [formControl]="usuarioForm.controls['email']" class="form-control" 
				[email]="true" placeholder="email@ufcspa.edu.br" pattern="[a-z0-9._%+-]+@ufcspa.edu.br" type="email">
				<app-mensagem-erro class="erro" [contemErro]="!this.usuarioForm.controls['email'].valid && this.usuarioForm.controls['email'].dirty"></app-mensagem-erro>
			</div>
		</div>

		<!-- Text input-->
		<div class="row form-group">
			<label class="col-md-3 control-label campo-obrigatorio" for="matricula">Matrícula</label>
			<div class="col-md-4">
				<input formControlName="matricula" [formControl]="usuarioForm.controls['matricula']"
				type="text" placeholder="" class="form-control input-md" 
				onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" 
				maxlength="11" required>
				<app-mensagem-erro class="erro" [contemErro]="!this.usuarioForm.controls['matricula'].valid && this.usuarioForm.controls['matricula'].dirty"></app-mensagem-erro>
			</div>
		</div>

		<!-- Password input-->
		<div class="row form-group">
			<label class="col-md-3 control-label campo-obrigatorio" for="senha">Senha</label>
			<div class="col-md-4">
				<input formControlName="senha" [formControl]="usuarioForm.controls['senha']"
				type="password" placeholder="" class="form-control input-md" required>
				<app-mensagem-erro class="erro" [contemErro]="!this.usuarioForm.controls['senha'].valid && this.usuarioForm.controls['senha'].dirty"
					[mensagem]="'Senha muito curta'"></app-mensagem-erro>
			</div>
		</div>

		<!-- Password input-->
		<div class="row form-group">
			<label class="col-md-3 control-label campo-obrigatorio" for="confirmarsenha">Confirmar Senha</label>
			<div class="col-md-4">
				<input [ngModelOptions]="{standalone: true}" 
				[(ngModel)]="senhaConfirmacao" (ngModelChange)="validarSenha()" type="password" placeholder="" class="form-control input-md" required>
				<app-mensagem-erro class="erro" [contemErro]="!senhaValida"
					[mensagem]="mensagemErroSenha"></app-mensagem-erro>
			</div>
		</div>

<!--HTML DE CPF BASEADO NO ANTIGO PROJETO-->
		<!--<div class="row form-group">
			<label class="col-md-3 control-label campo-obrigatorio" for="cpf">CPF</label>
			<div class="col-md-4">
				<input id="cpf" name="cpf" [textMask]="{mask: mascaraCPF}" [formControl]="usuarioForm.controls['cpf']" type="text" placeholder="" class="form-control input-md">
				<app-mensagem-erro class="erro" [contemErro]="!this.usuarioForm.controls['cpf'].valid && this.usuarioForm.controls['cpf'].dirty"></app-mensagem-erro>
			</div>
		</div>-->

		<div class="form-group row">
			<label class="col-md-3 control-label campo-obrigatorio" for="cpf">CPF</label>
			<div class="col-md-4">
				<input name="cpf" [textMask]="{mask: mascaraCPF}" formControlName="cpf" [cpf]="this.usuarioForm.controls.cpf.value"  [formControl]="usuarioForm.controls['cpf']" type="text" placeholder="" class="form-control input-md">
				<app-mensagem-erro [contemErro]="!this.usuarioForm.controls['cpf'].valid && this.usuarioForm.controls['cpf'].dirty"></app-mensagem-erro>
			</div>
		</div>


        <div *ngIf="verificarSeUsuarioEhAdmin()"  class="row form-group">
            <label class="col-md-3 control-label">Tipo Usuário</label>
            <div id="radioUusu" class="col-md-4">
				<app-radio-button class="erro" [opcoes]="tiposUsuarios" [nome]="'tipo'" (emissaoValor)="definirTipoUsuario($event)" class="control-radio"></app-radio-button>
            </div>
        </div>


        <div *ngIf="verificarSeUsuarioEhAdmin()" class="row form-group">
            <label class="col-md-3 control-label" for="status-1">Status</label>
            <div id="radioUusu" class="col-md-4">
                <app-radio-button class="erro" [opcoes]="tiposStatus" [nome]="'tipoStatus'" (emissaoValor)="definirTipoStatus($event)" class="control-radio"></app-radio-button>
            </div>
        </div>

		<div class="row form-group">
			<label class="col-xl-3 control-label" for="confirmar"></label>
			<div class="col-xl-4 buttonUsu">
				<button type="reset" id="reset" name="reset" class="btn btn-danger">Limpar</button>
				<button type="submit" id="confirmar" name="confirmar" class="btn btn-success" [disabled]="!usuarioForm.valid">Confirmar</button>
			</div>
		</div>
	</div>
	</form>
	</fieldset>
</div>
<br>
