<div class="container">
  <div class="panel panel-default panel-container">
      <div class="panel-heading ">
          <h2 class="titulo_lista">Lista de Ingredientes</h2>
      </div>
      <div class="panel-body">  
        <div>
               <div id="buscar" class="row"> 
                 <p class="pBuscar col-md-1">Buscar: </p>
                  <input
                  type='text' class="inputBuscar col-md-4"
                  (keyup)='updateFilter($event)'
                  />  
                </div>

            <ngx-datatable
            #table
            class="material"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="'auto'"
            [rows]='rows'>
          </ngx-datatable>
      </div>
  </div>
</div>

</div>