<div class="container container-ingrediente">
	<fieldset>

         <!--  [] -> manda do componete .ts para o HTML  -->
	      	<!-- () -> manda do HTML para o angular -->
	<form [formGroup]="ingredienteForm" class="form-horizontal form-container"
	(ngSubmit)="salvarIngrediente()" id="formulario" novalidate>

			<h2>Cadastro de Ingrediente</h2>
<br>
<!-- Nome -->
<div class="row form-group">
		<label id="labrl-comum" class="col-md-3 control-label campo-obrigatorio">Nome</label>
		<div class="col-md-4">
		<input formControlName="nome" type="text"
		placeholder="Nome do ingrediente..."  class="form-control input-md">
		<app-mensagem-erro [contemErro]="!this.ingredienteForm.controls['nome'].valid &&
		this.ingredienteForm.controls['nome'].dirty"></app-mensagem-erro>
		</div>
</div>
<!---->

<!-- Origem -->
<div class="row form-group">
	<label id="labrl-comum" class="col-md-3 control-label campo-obrigatorio">Origem</label>
	<div class="col-md-4">
		<input formControlName="origem" type="text"
		placeholder="Ex: Taco" class="form-control input-md">
		<app-mensagem-erro [contemErro]="!this.ingredienteForm.controls['origem'].valid &&
		this.ingredienteForm.controls['origem'].dirty"></app-mensagem-erro>
	</div>
</div>

<!-- Alergênicos -->
<div class="row form-group">
	<label id="labrl-comum" class="col-md-3 control-label campo-obrigatorio">Alergênicos</label>
	<div class="col-md-4">
		<select formControlName="alergenico" id="alergenico" class="form-control input-md">
			<option *ngFor="let a of alergDisponiveis" [value]="a.name">{{a.name}}</option>
		</select>
	</div>
</div>
<!---->

<!-- Tipo  que na verdade é domínio -->
<div *ngIf="verificarSeUsuarioEhAdmin()" class="row form-group">
	<label id="labrl-comum" class="col-md-3 control-label campo-obrigatorio">Domínio</label>
	<div class="col-md-4">
	<app-radio-button [opcoes]="tiposIngredientes" [nome]="'tipo'" (emissaoValor)="definirTipoIngrediente($event)"
	class="input-Radio"></app-radio-button>
	</div>
</div>
<!---->

<!--  -->

<!-- Aviso Calculo Porção -->
<div id="aviso-cad" >
<p><b>Aviso! </b></p>
<p> Valor de cada atributo é calculado para cada 100g</p>
<p> Preencher atributo obrigatorio para gerar informação nutricional </p>
</div>

<!-- Saida dos Atributos -->
<div id="atribForm" *ngFor="let ingAtributo of ingAtributos">  <!-- referencia o atributo que vem do angular -->

		<div class="row form-group">
				<label id="nomeAtrib" class="col-md-4 control-label" [ngClass]="{'campo-obrigatorio': ingAtributo.atributo.obrigatorio }">{{ ingAtributo.atributo.nome }}</label>
		<div class="col-md-4">
		<input id="input-atributo" [value]="ingAtributo.valor" maxlength="10" OnlyNumber="true" type="text" (change)="setarValor(ingAtributo.atributo.nome, $event.target.value)"
		placeholder="{{ ingAtributo.atributo.unidade }}" class="form-control input-md atr" required>
		</div>

	</div>
</div>
<!---->
<br>

<!-- Limpar ou Confirmar -->
<div class="but-t form-group">
	<div>

   		<button (click)="limpar()" type="button" class="btn btn-danger">Limpar</button>
   		<button type="submit" class="btn btn-success" [disabled]="ingredienteForm.invalid">Confirmar</button>

	</div>
</div>
<!---->


    </form>
  </fieldset>
</div>
