
/* Aviso de campo invalido */
.campo-obrigatorio:after {
    content:"*";
    color:red;
}

/* Formulario, parte esmaecida */
form{
  width: 40%; /* proporção do formulario */
}

/* Configurações do Titulo Cadastro de Ingredientes */  
h2{
  margin: 4% ;
}

/* Referente ao but Limpar/Confirmar */   
.but-t{
  margin-left: 35%;
  margin-right: auto;
}

/* Nome do input, exemplo "nome" <- depois o input*/  
.control-label{
    margin-left:17%;
}
 
/* Input ingredientes NOME ORIGEM  */
.input-md{
    width: 20em;
}

/* Input Unidade Atributos */  
#input-atributo{
  width: 40%; 
}

/* Aviso Calculo */
#aviso-cad{
  font-size: 75%; /* tamnho da fonte */
  line-height: 0.5em !important; /* espaçamento das linhas */
  text-align:center; /* alinhamento do texto */
  color:rgb(202, 83, 4); /* cor do texto */
  width: 63%; /* largura do mini-form */
  height: 50%; /* altura do mini-form */
  margin: 2% auto; /* margin ao redor do form */
  padding-top: 2%; /* distancia do texto do mini-form */
  background:linear-gradient(0deg,rgba(238, 236, 95, 0.6), rgba(233, 224, 105, 0.6));
  border-radius: 10px;
  /* ^^^^^ -> cor do mini-form */
}

#atribForm{
  margin-left: 13%;
}

@media only screen and (max-width: 1032px) {
  h2{   /* Arrumar o recuo do titulo para a esquerda */
   font-size:1.5em;
   padding-left: 7%;
 }

 form{   /* proporção do form */
   width: 100%;
   margin-left:-2%;
 }

/* Nome do input, exemplo "nome" <- antes o input*/  
.control-label{
  width: 22em;
  margin: auto;
}

/* Input ingredientes NOME ORIGEM  */
.input-md{
  width: 22em;
  margin: auto;
}

/* Input Unidade Atributos */  
#input-atributo{
  width: 60%;
  margin-right: 55%;
  margin-left: 10%;
}

/* Referente ao but Limpar/Confirmar */   
.but-t{
  margin-left: 27%;
}
#aviso-cad{
  font-size: 75%; /* tamnho da fonte */
  line-height: 0.99em !important; /* espaçamento das linhas */
  text-align:center; /* alinhamento do texto */
  color:rgb(202, 83, 4); /* cor do texto */
  width: 80%; /* largura do mini-form */
  height: 50%; /* altura do mini-form */
  margin: 2% auto; /* margin ao redor do form */
  padding-top: 2%; /* distancia do texto do mini-form */
  background:linear-gradient(0deg,rgba(238, 236, 95, 0.6), rgba(233, 224, 105, 0.6));
  /* ^^^^^ -> cor do mini-form */
}
.input-Radio{
  margin-left:10%;
}

}

@media only screen and (max-width: 667px) {
  form{
    width: 100%; /* proporção do formulario */
  }
  h2{   
  font-size:1.5em;
  margin:0 !important;
  width: 100%;
}
.control-label, .input-md {
  width:90% !important;
  margin-left: 5%;

}
.input-Radio{
  margin-left:50%;
}
}

@media only screen and (max-width: 568px) {
  form{
    width: 100% !important; /* proporção do formulario */
   
  }

/* Input Unidade Atributos */  
#atribForm{
  width:60%;
}
/* Referente ao but Limpar/Confirmar */   
.but-t{
  margin-left: 20%;
}
h2{   
  font-size:1.5em;
  margin:0 !important;
  width: 100% !important;
}
.control-label, .input-md {
  width:90% !important;
  margin-left: 5%;

}
}

@media only screen and (max-width: 330px) {
  form{
    width: 100%; /* proporção do formulario */
  }
h2{   
  font-size:1.5em;
  margin:0 !important;
  width: 100%;
}
.control-label, .input-md {
  width:90% !important;
  margin-left: 5%;

}

}



