<div class="container">
        <div class="panel panel-default panel-container">
            <div class="panel-heading ">
                <h2 class="titulo_lista">Lista de Atributos</h2>
            </div>
            <div class="panel-body">  
              <div>
                     <div id="buscar" class="row"> 
                       <p class="pBuscar col-md-1">Buscar: </p>
                        <input
                        type='text' class="inputBuscar col-md-4"
                        (keyup)='updateFilter($event)'
                        />  
                      </div>
      
                  <ngx-datatable
                  #table
                  class="material"
                  [columns]="columns"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [rowHeight]="'auto'"
                  [scrollbarH]="true"
                  [rows]='rows'>
                 
                 
            <!-- COLUNAS da tabela -->
        <ngx-datatable-column name="Id" [minWidth]="5"></ngx-datatable-column>
        <ngx-datatable-column name="Nome" [minWidth]="10"></ngx-datatable-column><!--ficou no html por conta do scroll horizontal e porque precisava definir um width diferente para algumas colunas -->
        <ngx-datatable-column name="Unidade" [minWidth]="10"></ngx-datatable-column>
        <ngx-datatable-column name="Multiplicador" [minWidth]="10" prop="multiplicador"> </ngx-datatable-column>
        <ngx-datatable-column name="Valor Diário" [minWidth]="10" prop="valorDiario"> </ngx-datatable-column>
        <ngx-datatable-column name="Obrigatório" [minWidth]="10" prop="obrigatorio"></ngx-datatable-column>>
        <ngx-datatable-column *ngIf="admin" name="Ações" [minWidth]="10">
            <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template> 
                <i class="material-icons" style="cursor: pointer;" (click)="redirecionarParaCadastro(rowIndex)" title="Editar">edit</i>
                <i class="material-icons" style="cursor: pointer;" (click)="excluir(rowIndex)" title="Excluir">delete</i>
            </ng-template>
        </ngx-datatable-column>
        </ngx-datatable>
        <!-- <div id="aviso-cad" *ngIf="!atributoEmLista">
            <p> Nenhum Atributo Cadastrado</p>
        </div> -->
    </div>
</div>
</div>