 <div class="container">
	<fieldset>
		<form [formGroup]="atributoForm" (ngSubmit)="cadastrar()" class="form-horizontal form-container" id="formulario">
			<h2>Cadastro de Atributo</h2>
			<div class="divisor">
				<span></span>
			</div>
			<div class="alert alert-danger mar-top-10" role="alert"
				style="display: none;">
				<span id="textoErro"><strong>Erro!</strong></span>
			</div>
			<div class="form-group mar-top-20" >
				<label class="col-md-4 control-label campo-obrigatorio" for="nome">Nome</label>
				<div class="col-md-4">

					<input formControlName="nome" id="nome" name="nome" class="form-control" type="text" placeholder="Proteina"
						required>
						<app-mensagem-erro [contemErro]="!this.atributoForm.controls['nome'].valid && this.atributoForm.controls['nome'].dirty"></app-mensagem-erro>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label campo-obrigatorio" for="ordem">Ordem</label>
				<div class="col-md-4">
					<input formControlName="ordem" id="ordem" name="ordem" class="form-control"
						   placeholder="1" type="number" required>
					<app-mensagem-erro [contemErro]="!this.atributoForm.controls['ordem'].valid && this.atributoForm.controls['ordem'].dirty"></app-mensagem-erro>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label campo-obrigatorio" for="multiplicador">Multiplicador</label>
				<div class="col-md-4">
					<input formControlName="multiplicador" id="multiplicador" name="multiplicador" class="form-control"
						placeholder="2" type="number" required>
						<app-mensagem-erro [contemErro]="!this.atributoForm.controls['multiplicador'].valid && this.atributoForm.controls['multiplicador'].dirty"></app-mensagem-erro>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label campo-obrigatorio" for="unidade">Unidade
					de Medida</label>
				<div class="col-md-4">
					<input formControlName="unidade" id="unidade" name="unidade" class="form-control"
						placeholder="g" type="text" required>
						<app-mensagem-erro [contemErro]="!this.atributoForm.controls['unidade'].valid && this.atributoForm.controls['unidade'].dirty"></app-mensagem-erro>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label campo-obrigatorio">Obrigatorio</label>
				<app-radio-button [opcoes]="obrigatorio" [nome]="'obrigatorio'" (emissaoValor)="definirObrigatorio($event)" class="control-radio"></app-radio-button>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="confirmar"></label>
				<div class="col-md-8">
          <button type="reset" id="reset" name="reset" class="btn btn-danger">Limpar</button>
					<button type="submit" id="confirmar" name="confirmar" class="btn btn-success" [disabled]="!atributoForm.valid">Confirmar</button>
				</div>
		</div>
    </form>
  </fieldset>
</div>

<br>
<div class="alert alert-success" role="alert"
	style="display: none; width: 25%; margin-left: 37%; text-align: center;">
</div>
