input[type="reset"]{
  background-color:#EFA638!important;
}
.erro{
  font-size:0.7em;
}
form{
  display: block;
  margin: 2% auto;
  width: 50%;
  height: 400px;
  box-shadow: rgba(250,250,250,0.6) 7px 7px 7px 5px;
  background:linear-gradient(0deg,rgba(250,250,250,0.6),rgba(255,255,255,0.6));
}

h2 {
  padding: 1px;
  padding-bottom:1em;
  text-align:center;
  background-repeat:no-repeat;
  background-position:20% 5%;
  background-size:1.2em;
}
.control-radio{
  font-weight: bold;
  margin-left: 29%;
}

#radioUusu{
  margin-top:-1.875em;
}

/*move input*/
.col-md-3 input, .form-control{
  float: right;
  margin-right: -22.5em;
  margin-top: -2em!important;
  width: 320px;
}

.control-label{
  margin-left: 8.4%;
  margin-right:-35%;
  font-weight: bold;
}
.col-md-8{ /*movimenta botões "Confirmar" e "Limpar"*/
  margin-bottom:10em;
  margin-left:34%;
}

.camposForm{
  padding-top:5%;
  padding-left:16%;
}

/*@media*/

@media only screen and (max-width: 1024px) {
  .container {
    margin-right: -15% !important;
    margin-left: -10%;
    overflow-x: hidden;
  }

  .camposForm {
    padding-top: 5%;
    padding-left: 0%;
  }

  h2 {
    font-size: 1.5em;
    padding-left: 30%;
  }

  .col-md-4 input, .form-control {
    float: right;
    margin-right: -20em;
    margin-left: -15em;
    margin-top: -2.3em;
    width: 150%;
  }

  form {
    width: 600px;
    float: left;
    margin: 12% auto;
    margin-left: 30%;
  }

  .control-radio {
    margin-left:14.3em;
    margin-right: 1em;
  }

  .col-md-8 {
    margin-left: 37%;
  }

  .camposForm {
    padding-top: 10%;
    padding-left: 10%;
  }
}

@media only screen and (max-width: 1340px) {
.container {
  margin-right: 0% !important;
  margin-left: -5%;
  overflow-x: hidden;
}

.camposForm {
  padding-top: 5%;
  padding-left: 0%;
}

h2 {
  font-size: 1.5em;
  padding-left: 30%;
}

.col-md-4 input, .form-control {
  float: right;
  margin-right: -20em;
  margin-left: -15em;
  margin-top: -2.3em;
  width: 150%;
}

form {
  width: 600px;
  float: left;
  margin: 9.5% auto;
  margin-left: 30%;
}

.control-radio {
  margin-left:14.3em;
  margin-right: 1em;
}

.col-md-8 {
  margin-left: 37%;
}

.camposForm {
  padding-top: 10%;
  padding-left: 10%;
}
}

@media only screen and (max-width: 480px) {
          .input-md[_ngcontent-c2], [_ngcontent-c2] {
            width: 90%;
  }

  .col-md-4 input, .form-control {
    float: right;
    margin-right: -4em;
    margin-left: -15em;
    margin-top: -2em;
    width: 60%;
  }

  .container{
    margin-right:-27%!important;
    margin-left: -7%;
    overflow-x: hidden;
  }

  h2{
    font-size:1.5em;
    padding-left: 18%;
    text-align: center;
  }

  form{
    width: 600px;
    float: left;
    margin: 1% auto;
    margin-left: 18%;
  }

  .control-radio{
    margin-left:3.9em;
  }

  .col-md-8{ /*movimenta botões "Confirmar" e "Limpar"*/
    margin-left:21%;
    width: 80%;
  }

  #radioUusu{
    margin-top:0em;
  }
}
