/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
	background:url("app/img/background.jpg");
  background-position-y: top;
  background-position-x: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;

  font-size: 1.1em;
  font-weight: bold;
}

.container{
  min-width: 100%;
  min-height: 100%;
}

.btn {
  border-width: 0px;
}
.btn-success{
  background-color:#006E8C!important;
}

.btn-primary {
  background-color:#007370!important;
}

.btn-danger{
  background-color:#EFA638;
}

.btn:hover,.btn-success:hover{
  background-color: #41790A!important;
}

h2 {
	padding-left: 10%;
}


form:not(.no-css), .content{
  display: block;
  margin: 2% auto;
  box-shadow: rgba(255,255,255,0.6) 5px 5px 5px 5px;
  background:linear-gradient(0deg,rgba(255,255,255,0.6),rgba(255,255,255,0.6));
}

footer p{
  color:white!important;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 0.9em;
  font-weight: normal!important;
}

#aviso-cad{/*mensagem de aviso*/
  font-size: 75%; /* tamanho da fonte */
line-height: 0.5em !important; /* espaçamento das linhas */
text-align:center; /* alinhamento do texto */
color:rgb(202, 83, 4); /* cor do texto */
width: 80%; /* largura do mini-form */
height: 50%; /* altura do mini-form */
margin: 2% auto; /* margin ao redor do form */
padding-top: 2%; /* distancia do texto do mini-form */
background:linear-gradient(0deg,rgba(238, 236, 95, 0.6), rgba(233, 224, 105, 0.6));/* ^^^^^ -> cor do mini-form */
}


