/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    /*linear-gradient(0deg,rgba(255,255,255,0.7),rgba(255,255,255,0.7)),*/
	background:url("app/img/background.jpg");
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.container{
    min-width: 100%;
    min-height: 100%;
}


.btn {
    border-width: 0px;
    width: 94.27px;
    height: 36px;
}

button[type="reset"]{
    background-color:#EFA638;
}

button[type="submit"]{
    background-color:#006E8C!important;
}

button[type="submit"]:hover{
    background-color:rgb(71, 184, 216);
}

button[type="reset"]:hover{
    background-color:rgb(228, 183, 117);
}
