table,.fixed-header  {
    width: 85%;
	margin: 0 auto;
	overflow: auto;
	max-width: 100%;
    white-space: normal;
    background-color: #ffffff9c!important;
}

div #buscar{
    display: inline;
    padding-left: 5%;
}

.pBuscar{
    color:white;
    float:left;
    padding-right:1em;
    font-weight: normal!important;
}

.inputBuscar{
    width: 15em;
    height: 1.5em;
    float: left;
    border: 1px solid #207C7B;
    border-radius: 8px 8px 8px;
}

/**** CSS da ngx-datatable ****/
:host /deep/ .datatable-body .datatable-body-row .datatable-body-cell{/*ÚNICA forma com a qual consegui alterar o CSS da ngx-datatable*/
    color: black !important;
    text-align: center!important;
    align-self: center!important;
    text-justify: newspaper!important;
    text-align: center!important;
}

:host /deep/ .ngx-datatable.material .datatable-header span{
    font-weight: normal!important;
    font-size: 1.1em!important;
}

:host /deep/ .ngx-datatable.material .datatable-header{
    background-color: #207C7B!important;
    border: 1px none white;
    align-self: center;
    text-justify: newspaper;
    text-align: center;
    height: 30px!important;
}
:host /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
    color: white !important;
    border: 1px none white;
    padding: 2px;
    align-self: center;
    text-justify: newspaper;
    text-align: center;
    font-weight: normal;
}
/****** FIM ******/

div .panel-body{
    overflow-x:auto;
    height: 100%;
}

tr{
    font-size: 15px;
    width: 80%;
}
th{
    font-size: 15px;
}

thead {
    background-color: #207C7B;
    color: white;
}

th, tr {
    border: 1px none white;
    padding: 2px;
    align-self: center;
    text-align: center;
    font-weight: normal;
}

table{
	background-color:rgba(255,255,255,0.7);
}

div {   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-justify: newspaper;
    text-align: center;
    color: white;
    text-shadow: -1px 0 #207C7B, 0 1px #207C7B, -1px 0 #207C7B, 0 -1px #207C7B;}
@media only screen and (max-width: 414px),(min-height: 736px) {
    :host /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
        margin-right: -10px!important;
    }
}
@media only screen and (max-height: 568px),(max-width: 320) {
        :host /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
            margin-right: -5px!important;
        }
}
@media only screen and (max-width: 768px) {
    .inputBuscar{
        margin-left: 4%;
    }
    
    #buscar{
        margin-bottom: 2%;
    }

    h2 {
        float: left;
        margin-left:-13%;
    }
}
@media only screen and (max-width: 573px) {
    table,.fixed-header{
        font-size: 3vw;
    }
    .inputBuscar{
        width: 91%;
    }

    thead {
        font-size: 3.5vw;
    }

    :host /deep/ .ngx-datatable.material .datatable-header{/*para modificar o ngx-datatable */
        font-size: 3.5vw; 
    }
    :host /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
        padding-left: 0px;
        margin-right: 3.1%;
        width: 100%!important;
    }
}

@media only screen and (min-width: 942px) {
    .container {
        max-width: 960px;
        min-width: 960px;        
    }
}
