        <br>
        <div class="container"> 
        <fieldset>  
            <div class="alert alert-success" role="alert"
                style="display: none; width: 25%; margin-left: 37%; text-align: center;">
            </div>
            <div class="row justify-content-center">
                <div class="panel panel-default panel-container">
                    <div class="panel-heading ">
                        <h2 class="titulo_lista">Listagem de Grupos de Receitas</h2  >
                    </div>
                    <div class="panel-body">
                        <!-- Table -->
                        <table>
                            <thead>
                                <tr class="table-header">
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Valor da Porção (g)</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <ng-container *ngFor="let grupo of grupos">
                                        <tr>
                                            <td>
                                                {{grupo.id}}
                                            </td>
                                            <td>
                                                {{grupo.nome}}
                                            </td>
                                            <td>
                                                {{grupo.custo}}
                                            </td>
                                            <td>
                                                <i class="material-icons delete">edit</i>
                                            </td>
                                        </tr>
                                    </ng-container>
                            </tbody>
                        </table>
                    </div>      
                </div>
            </div>
        </fieldset>
        </div>