<html>
    <body>
        <br>
        <div class="container"> 
        <fieldset>  
            <div class="alert alert-success" role="alert"
                style="display: none; width: 25%; margin-left: 37%; text-align: center;">
            </div>
            <div class="row justify-content-center">
                <div class="panel panel-default panel-container">
                    <div class="panel-heading ">
                        <h2 class="titulo_lista">Listagem de Grupos de Receitas</h2  >
                    </div>
                    <div class="panel-body">
                        <!-- Table -->
                        <table>
                            <thead>
                                <tr class="table-header">
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Valor da<br>Porção (g)</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <ng-container *ngFor="let grupo of grupos">
                                        <tr>
                                            <td>
                                                {{grupo.id}}
                                            </td>
                                            <td>
                                                {{grupo.nome}}
                                            </td>
                                            <td>
                                                {{grupo.custo}}
                                            </td>
                                            <td>
                                                <th><i class="material-icons delete">edit</i></th>
                                            </td>
                                        </tr>
                                    </ng-container>
                               <!--  <tr>
                                    <th>0</th>
                                    <th class="nome-grupo">Nome Longo Teste 123</th>
                                    <th>1000</th>
                                    <th><i class="material-icons delete">edit</i></th>                             
                                </tr>  
                                
                                <tr>
                                    <th>1</th>
                                    <th class="nome-grupo">Curto</th>
                                    <th>665</th>
                                    <th><i class="material-icons delete">edit</i></th>                             
                                </tr> 
                                <tr>
                                    <th>001e3</th>
                                    <th class="nome-grupo">ID LONGO E NOME LONGO</th>
                                    <th>330</th>
                                    <th><i class="material-icons delete">edit</i></th>                             
                                </tr>  -->
                            </tbody>
                        </table>
                    </div>      
                </div>
            </div>
        </fieldset>
        </div>
    </body>
</html>