table,.fixed-header  {
    
	margin: 0 auto;
	overflow: auto;
	max-width: 100%;
    white-space: normal;
    background-color: #ffffff9c!important;
}

.panel-body{
    overflow: hidden!important;
}

div #buscar{
    margin-left:2%;
    padding-left: 1%;
}

.pBuscar{
    color:white;
    float:left;
    padding-right:1em;
    font-weight: normal!important;
}

.inputBuscar{
    width: 15em;
    height: 1.5em;
    float: left;
    border: 1px solid #207C7B;
    border-radius: 8px 8px 8px;
}

/**** CSS da ngx-datatable ****/
:host /deep/ .datatable-body .datatable-body-row .datatable-body-cell{/*ÚNICA forma com a qual consegui alterar o CSS da ngx-datatable*/
    color: black !important;
    text-align: center!important;
    align-self: center!important;
    text-justify: newspaper!important;
    text-align: center!important;
    max-width: 100%;
}

:host /deep/ .ngx-datatable.material .datatable-header span{
    font-weight: normal!important;
    font-size: 1.1em!important;
}

:host /deep/ .ngx-datatable.material .datatable-header{
    background-color: #207C7B!important;
    border: 1px none white;
    align-self: center;
    text-justify: newspaper;
    text-align: center;
    height: 30px!important;
    max-width: 100%;
}
:host /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
    color: white !important;
    border: 1px none white;
    padding: 2px;
    align-self: center;
    text-justify: newspaper;
    text-align: center;
    font-weight: normal;
}
/****** FIM ******/

div .panel-body{
    overflow-x:auto;
    height: 100%;
}
div {   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-justify: newspaper;
    text-align: center;
    color: white;
    text-shadow: -1px 0 #207C7B, 0 1px #207C7B, -1px 0 #207C7B, 0 -1px #207C7B;}
/*@media only screen and (max-width: 414px),(min-height: 736px) {
    :host /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
        margin-right: -10px!important;
    }
}*/
@media only screen and (max-height: 568px),(max-width: 320) { /* Iphone 5 media*/
    /*div #buscar{
        width: 60%;
    }*/

     .inputBuscar{
         width: 80%;
      margin-top: -21%;
      margin-left: 5%;
    }

    table,.fixed-header  {
        margin: 5%;
        overflow: auto;
        max-width: 90%;
        height:90%;
    }

        :host /deep/ .ngx-datatable.material .datatable-header{
            min-width: 100%!important;
        }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) { /*Ipad media*/
    div #buscar{
        margin-left: 2%;
        width: 60%;
    }

     .inputBuscar{
      margin-top: 1%;
      left: 12%;
    }

    table,.fixed-header  {
        margin: 5%;
        overflow: auto;
        max-width: 90%;
        height:90%;
    }

        :host /deep/ .ngx-datatable.material .datatable-header{
            min-width: 100%!important;
        }
}
@media only screen and (max-width: 680px) {
    div #buscar{
        width: 60%;
    }

     .inputBuscar{
         width:80%;
      margin-top: -19%;
      left: 38%;
    }

    table,.fixed-header  {
        margin: 5%;
        overflow: auto;
        max-width: 90%;
        height:90%;
    }

        :host /deep/ .ngx-datatable.material .datatable-header{
            min-width: 100%!important;
        }
}

@media only screen and (min-width : 375px) and (max-width : 812px) { /* Iphone X media*/
    

     .inputBuscar{
      width:70%;
      margin-top: -18%;
      left: 36%;
    }

    table,.fixed-header  {
        margin: 5%;
        overflow: auto;
        max-width: 90%;
        height:90%;
    }

        :host /deep/ .ngx-datatable.material .datatable-header{
            min-width: 100%!important;
        }

}

@media only screen and (min-width: 942px) {
    div #buscar{
        display:inline;
    }    

    .container {
        max-width: 960px;
        min-width: 960px;        
    }
}
