<html>
    <body>
            <div class="container">
            <br>
            <fieldset>  
                    <div class="alert alert-success" role="alert"
                    style="display: none; width: 25%; margin-left: 37%; text-align: center;">
                 </div>
                 <div class="container">
                   <div class="panel panel-default panel-container">
                       <div class="panel-heading ">
                           <h3 class="titulo_lista">Listagem de Grupos de Receitas</h3>
                       </div>
                       <div class="panel-body">
                           <table class="table table-horvered table-striped" id="listaItens">
                               <thead>
                               <tr>
                                   <th>Id</th>
                                   <th>Nome</th>
                                   <th>Valor da Porção (em gramas)</th>
                                   <th>Ações</th>
                               </tr>
                               </thead>
                           </table>
                       </div>
                   </div>
                 </div>
            </fieldset>
        </div>
    </body>
</html>
<!-- Visualização dos Grupos de Receita --> 
<!--
    
-->