table,.fixed-header { /*comentei pq só o fundo da tabela estava funcionando, mais nada */
	width: 100%;
	margin: 0px;
	overflow: auto;
    max-width: 100%;
    min-width: 100px;
    white-space: normal;
    background-color: #ffffff9c!important;
}

div #buscar{
    display: inline;
}
.pBuscar{
    color:white;
    float:left;
    padding-right:1em;
    font-weight: normal!important;
}
.inputBuscar{
    height: 1.5em;
    float: left;
    border: 1px solid #207C7B;
    border-radius: 8px 8px 8px;
}

/**** CSS da ngx-datatable ****/
:host /deep/ .datatable-body .datatable-body-row .datatable-body-cell{/*ÚNICA forma com a qual consegui alterar o CSS da ngx-datatable*/
    color: black !important;
    text-align: center!important;
    align-self: center!important;
    text-justify: newspaper!important;
    text-align: center!important;
}

:host /deep/ .ngx-datatable.material .datatable-header span{
    font-weight: normal!important;
    font-size: 1.1em!important;
}

:host /deep/ .ngx-datatable.material .datatable-header{
    background-color: #207C7B!important;
    border: 1px none white;
    align-self: center;
    text-justify: newspaper;
    text-align: center;
    min-height: 30px!important;
}
:host /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
    color: white !important;
    border: 1px none white;
    padding: 2px;
    align-self: center;
    text-justify: newspaper;
    text-align: center;
    font-weight: normal;
}
/****** FIM ******/
thead{
    background-color: #207C7B!important;
    color: white;
}

th, tr {
    border: 1px none white;
    padding: 2px;
    align-self: center;
    text-justify: newspaper;
    text-align: center;
    font-weight: normal;
}

.nome-grupo {
    text-align: left;
}

div {   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-justify: newspaper;
    text-align: center;
    color: white;
    text-shadow: -1px 0 #207C7B, 0 1px #207C7B, -1px 0 #207C7B, 0 -1px #207C7B;}

@media only screen and (max-width: 768px) {
    .inputBuscar{
        margin-left: 4%;
    }

    #buscar{
        margin-bottom: 2%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
    .inputBuscar{
      margin-top: -21%;
      left: 47%;
  }
  
  #buscar{
      width: 90%;
      left: 9%;
  }  
}

@media only screen and (max-width: 573px) {
    table,.fixed-header{
        font-size: 3vw;
    }
    .inputBuscar{
        width: 60%;
        margin-top:-12%;
        left:21%;
    }

    thead {
        font-size: 3.5vw;
    }

    :host /deep/ .ngx-datatable.material .datatable-header{/*para modificar o ngx-datatable */
        font-size: 3.5vw;
    }
}

@media only screen and (min-width: 942px) {/*tamanho normal */
    .container {
        max-width: 960px;
        min-width: 960px;        
    }
}
