<div class="container">
  <div class="panel panel-default panel-container">
      <div class="panel-heading"><h3 class="titulo_lista">Lista de Usuários</h3></div>
      <div class="panel-body">
          <table class="table table-horvered table-striped" id="listaItens">
              <thead>
              <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Matrícula</th>
                  <th>CPF</th>
                  <th>Tipo</th>
                  <th>Status</th>
                  <th>Ações</th>
              </tr>
              </thead>
          </table>
      </div>
  </div>
</div>
