<div class="container"> 
    <fieldset>  
        <div class="alert alert-success" role="alert"
            style="display: none; width: 25%; margin-left: 37%; text-align: center;">
        </div>
        <div class="row justify-content-center">
            <div class="panel panel-default panel-container">
                <div class="panel-heading ">
                    <h2 class="titulo_lista">Listagem de Usuários</h2  >
                </div>
                <div class="panel-body">
          <table class="table table-horvered table-striped" id="listaItens">
              <thead>
                <tr class="table-header">
                  <th>Id</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Matrícula</th>
                  <th>CPF</th>
                  <th>Tipo</th>
                  <th>Status</th>
                  <th>Ações</th>
              </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let usuario of usuarios">
                    <tr>
                        <td>
                            {{usuario.id}}
                        </td>
                        <td>
                            {{usuario.nome}}
                        </td>
                        <td>
                            {{usuario.email}}
                        </td>
                        <td>
                            {{usuario.matricula}}
                        </td>
                        <td>
                            {{usuario.cpf}}
                        </td>
                        <td>
                            {{usuario.tipo}}
                        </td>
                        <td>
                            {{usuario.status}}
                        </td>
                        <td>
                            <i class="material-icons delete">edit</i>
                        </td>
                    </tr>
                </ng-container>
        </tbody>
          </table>
      </div>
  </div>
</div>